<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>The LATHE</title>


      <link href="{{ url_for('static', filename='newspaper/style.css') }}" rel="stylesheet">
     <link href="{{ url_for('static', filename='newspaper/img/core-img/favicon.ico') }}" rel="icon">



</head>

<body>
    <!-- ##### Header Area Start ##### -->
    <header class="header-area">

        <!-- Top Header Area -->
        <div class="top-header-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="top-header-content d-flex align-items-center justify-content-between">
                            <!-- Logo -->
                            <div class="logo">
                                <a href="/"><img src="/static/newspaper/img/core-img/logo.png" alt=""></a>
                                <div class="text-white">The Official Student Publication of Batangas State University</div>
                            </div>

                            <!-- Login Search Area -->
                            <div class="login-search-area d-flex align-items-center">
                               
                                <!-- Search Form -->
                                <div class="search-form">
                                    <form action="#" method="post">
                                        <input type="search" name="search" class="form-control" placeholder="Search">
                                        <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Navbar Area -->
        <div class="newspaper-main-menu" id="stickyMenu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="newspaperNav">

                        <!-- Logo -->
                        <div class="logo">
                            <a href="index.html"><img src="/static/newspaper/img/core-img/logo.png" alt=""></a>
                        </div>

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- close btn -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul>
                                    <li><a href="/">Home</a></li>

                                    {% for section in sections %}
                                   
                                    <li><a href="/{{section}}/0">{{section}}</a></li>

                                    {% endfor %}
                                    <li class="active"><a href="/contact">Contact Us</a></li>
                                </ul>
                            </div>
                            <!-- Nav End -->
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->


    <!-- ##### Contact Form Area Start ##### -->
    <div class="contact-area section-padding-0-80">
        <div class="container">
            <div class="row">
                <div class="col-12 my-3">
                    <div class="contact-title">
                        <h1>Contact us</h1>
                    </div>
                    <hr>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-lg-8">
                    <div class="contact-form-area">
                        <form action="#" method="post">
                            <div class="row">
                                <div class="col-12 col-lg-6">
                                    <input type="text" class="form-control" id="name" placeholder="Name">
                                </div>
                                <div class="col-12 col-lg-6">
                                    <input type="email" class="form-control" id="email" placeholder="E-mail">
                                </div>
                                <div class="col-12">
                                    <input type="text" class="form-control" id="subject" placeholder="Subject">
                                </div>
                                <div class="col-12">
                                    <textarea name="message" class="form-control" id="message" cols="30" rows="10" placeholder="Message"></textarea>
                                </div>
                                <div class="col-12 text-center">
                                    <button class="btn newspaper-btn mt-30 w-100" type="submit">Send Message</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="col-12 col-lg-4">
                    <!-- Single Contact Information -->
                    <div class="single-contact-information mb-30">
                        <h6>Address:</h6>
                        <p>3rd Floor, MSP Building<br>Batangas State University - Main Campus 1<br>Rizal Ave., Batangas City <br>Batangas, Philippines</p>
                    </div>
                    <!-- Single Contact Information -->
                    <div class="single-contact-information mb-30">
                        <h6>Phone:</h6>
                        <p><a href="tel:+639158465422">0915-8465422</a><br>
                        <a href="tel:+639201294327">0920-1294327</a></p>
                    </div>
                    <!-- Single Contact Information -->
                    <div class="single-contact-information mb-30">
                        <h6>Email:</h6>
                        <p>thelathepub@gmail.com</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- ##### Contact Form Area End ##### -->

      <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area">

        <!-- Main Footer Area -->
        <div class="main-footer-area">
            <div class="container">
                <div class="row">

                    <!-- Footer Widget Area -->
                    <div class="col-12 col-sm-6 col-lg-12">
                        <div class="footer-widget-area mt-80">
                            <!-- Footer Logo -->
                            <div class="footer-logo">
                                <a href="/"><img src="/static/newspaper/img/core-img/logo.png" alt=""></a>
                                <div class="text-white">The Official Student Publication of Batangas State University</div>
                            </div>
                            <!-- List -->
                            <ul class="list">
                                <li><a href="mailto:thelathepub@gmail.com">thelathepub@gmail.com</a></li>
                                <li><a href="tel:+639158465422">0915-8465422</a></li>
                                <li><a href="tel:+639201294327">0920-1294327</a></li>
                                <li><a href="www.batstate-u.edu.ph">www.batstate-u.edu.ph</a></li>
                            </ul>
                        </div>
                    </div>

  

                </div>
            </div>
        </div>

        <!-- Bottom Footer Area -->
        <div class="bottom-footer-area">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <!-- Copywrite -->
                        <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ##### Footer Area Start ##### -->

    <!-- ##### All Javascript Files ##### -->
    <!-- jQuery-2.2.4 js -->
      <script src="{{ url_for('static', filename='newspaper/js/jquery/jquery-2.2.4.min.js') }}"></script>
    <!-- Popper js -->
          <script src="{{ url_for('static', filename='newspaper/js/bootstrap/popper.min.js') }}"></script>
    <!-- Bootstrap js -->
     <script src="{{ url_for('static', filename='newspaper/js/bootstrap/bootstrap.min.js') }}"></script>
    <!-- All Plugins js -->
     <script src="{{ url_for('static', filename='newspaper/js/plugins/plugins.js') }}"></script>
    <!-- Active js -->
       <script src="{{ url_for('static', filename='newspaper/js/active.js') }}"></script>
</body>

</html>