<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>The LATHE</title>


      <link href="{{ url_for('static', filename='newspaper/style.css') }}" rel="stylesheet">
     <link href="{{ url_for('static', filename='newspaper/img/core-img/favicon.ico') }}" rel="icon">



</head>

<body>
    <!-- ##### Header Area Start ##### -->
    <header class="header-area">

        <!-- Top Header Area -->
        <div class="top-header-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="top-header-content d-flex align-items-center justify-content-between">
                            <!-- Logo -->
                            <div class="logo">
                                <a href="/"><img src="/static/newspaper/img/core-img/logo.png" alt=""></a>
                                <div class="text-white">The Official Student Publication of Batangas State University</div>
                            </div>

                            <!-- Login Search Area -->
                            <div class="login-search-area d-flex align-items-center">
                               
                                <!-- Search Form -->
                                <div class="search-form">
                                    <form action="#" method="post">
                                        <input type="search" name="search" class="form-control" placeholder="Search">
                                        <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Navbar Area -->
        <div class="newspaper-main-menu" id="stickyMenu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="newspaperNav">

                        <!-- Logo -->
                        <div class="logo">
                            <a href="index.html"><img src="/static/newspaper/img/core-img/logo.png" alt=""></a>
                        </div>

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- close btn -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul>
                                    <li class="active"><a href="/">Home</a></li>

                                    {% for section in sections %}
                                   
                                    <li><a href="/{{section}}/0">{{section}}</a></li>

                                    {% endfor %}
                                    <li><a href="/contact">Contact Us</a></li>
                                </ul>
                            </div>
                            <!-- Nav End -->
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->

    <!-- ##### Hero Area Start ##### -->
    <div class="my-3">
        <div class="container">
        </div>
    </div>
    <!-- ##### Hero Area End ##### -->

    <!-- ##### Featured Post Area Start ##### -->
    <div class="featured-post-area">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-8">
                    <div class="row">

                        <!-- Single Featured Post -->
                        <div class="col-12 col-lg-7">

                            {% for i in range(2) %}
                            <div class="single-blog-post featured-post">
                                {% if homedata[i][6] %}
                                <div class="post-thumb">
                                    <a href="#"><img src="/static/img/{{homedata[i][6]}}" alt=""></a>
                                </div>
                                {% endif %}
                                <div class="post-data">
                                    <a href="/{{homedata[i][5]}}/0" class="post-catagory">{{homedata[i][5]}}</a>
                                    <a href="/read/{{homedata[i][5]}}/{{homedata[i][0]}}/{{homedata[i][2]}}" class="post-title">
                                        <h6>{{homedata[i][2]}}</h6>
                                    </a>
                                    <div class="post-meta">
                                        <p class="post-author">By <a href="#">{{homedata[i][3]}}</a></p>
                                        <p class="">{{homedata[i][4][:500]}}</p>
                                        <p class="post-date">{{homedata[i][10]}}</p>
                                    </div>
                                </div>
                                <hr>
                            </div>

                            {% endfor %}

                        </div>

                        <div class="col-12 col-lg-5">
                            <!-- Single Featured Post -->
                            {% for i in range(2,5)%}

                            <div class="single-blog-post featured-post-2">
                                {% if homedata[i][6] %}
                                <div class="post-thumb">
                                    <a href="#"><img src="/static/img/{{homedata[i][6]}}" alt=""></a>
                                </div>
                                {% endif %}
                                <div class="post-data">
                                    <a href="/{{homedata[i][5]}}/0" class="post-catagory">{{homedata[i][5]}}</a>
                                    <div class="post-meta">
                                        <a href="/read/{{homedata[i][5]}}/{{homedata[i][0]}}/{{homedata[i][2]}}" class="post-title">
                                            <h6>{{homedata[i][2]}}</h6>
                                        </a>
                                        <p>{{homedata[i][4][:100]}}</p>
                                        <!-- Post Like & Post Comment -->
                                        <div class="d-flex align-items-center">
                                            <p class="post-date">{{homedata[i][10]}}</p>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                            </div>

                            {% endfor %}

                        </div>

                    </div>

                </div>

                <div class="col-12 col-md-6 col-lg-4">
                    <!-- Single Featured Post -->

                    {% for data in subdata %}
                    <div class="single-blog-post small-featured-post d-flex">
                        {% if data[6] %}
                        <div class="post-thumb">
                            <a href="#"><img src="/static/img/{{data[6]}}" alt=""></a>
                        </div>
                        {% endif %}
                        <div class="post-data">
                            <a href="/{{data[5]}}/0" class="post-catagory">{{data[5]}}</a>
                            <div class="post-meta">
                                <a href="/read/{{data[5]}}/{{data[0]}}/{{data[2]}}" class="post-title">
                                    <h6>{{data[2]}}</h6>
                                </a>
                                <p class="post-date">{{data[10]}}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <div></div>
                    
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Featured Post Area End ##### -->

    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area">

        <!-- Main Footer Area -->
        <div class="main-footer-area">
            <div class="container">
                <div class="row">

                    <!-- Footer Widget Area -->
                    <div class="col-12 col-sm-6 col-lg-12">
                        <div class="footer-widget-area mt-80">
                            <!-- Footer Logo -->
                            <div class="footer-logo">
                                <a href="/"><img src="/static/newspaper/img/core-img/logo.png" alt=""></a>
                                <div class="text-white">The Official Student Publication of Batangas State University</div>
                            </div>
                            <!-- List -->
                            <ul class="list">
                                <li><a href="mailto:thelathepub@gmail.com">thelathepub@gmail.com</a></li>
                                <li><a href="tel:+639158465422">0915-8465422</a></li>
                                <li><a href="tel:+639201294327">0920-1294327</a></li>
                                <li><a href="www.batstate-u.edu.ph">www.batstate-u.edu.ph</a></li>
                            </ul>
                        </div>
                    </div>

  

                </div>
            </div>
        </div>

        <!-- Bottom Footer Area -->
        <div class="bottom-footer-area">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <!-- Copywrite -->
                        <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ##### Footer Area Start ##### -->

    <!-- ##### All Javascript Files ##### -->
    <!-- jQuery-2.2.4 js -->
      <script src="{{ url_for('static', filename='newspaper/js/jquery/jquery-2.2.4.min.js') }}"></script>
    <!-- Popper js -->
          <script src="{{ url_for('static', filename='newspaper/js/bootstrap/popper.min.js') }}"></script>
    <!-- Bootstrap js -->
     <script src="{{ url_for('static', filename='newspaper/js/bootstrap/bootstrap.min.js') }}"></script>
    <!-- All Plugins js -->
     <script src="{{ url_for('static', filename='newspaper/js/plugins/plugins.js') }}"></script>
    <!-- Active js -->
       <script src="{{ url_for('static', filename='newspaper/js/active.js') }}"></script>
</body>

</html>